{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<div class="container   bg-light p-3">
<div class="row col-md-12 col-xs-12">
<h1>votre panier</h1>
</div>
<div class="row col-md-12 col-xs-12">
{% if item | length > 0  %}
<table class="table">
   <thead>
       <tr>
           <th>Cours</th>
           <th>Niveau scolaire</th>
           <th>Reference</th>
           <th>Prix</th>
           <th>Quantité</th>
           <th>Total</th>
           <th></th>
       </tr>
   </thead>
   <tbody>
       {% for item in item %}
       <tr>
       <td>{{item.cour.nom}}</td>
       <td>{{item.cour.niveauscolaire}}</td>
       <td>{{item.cour.reference}}</td>
       <td>{{item.cour.prix}}$</td>
       <td>{{item.quantity}}</td>
       <td>{{item.cour.prix * item.quantity}}</td>
       <td>
           <a href="{{path('cart_remove', {'id': item.cour.id})}}" class="btn btn-danger btn-sm">
           delete
           </a>
       </td>
    </tr>
       {% endfor %}
   </tbody>
   <tfoot>
    <tr>
        <td colspan="5" class="text-right" >
          Total:
        </td>
        <td>{{total}}</td>
        <td></td>
    </tr>
</tfoot>
</table>
{% else %}
<p>c'est vide!</p>
{% endif %}
</div>
</div>

{% endblock %}
