{% extends 'base.html.twig' %}

{% block title %}Hello EcolesController!{% endblock %}

{% block body %}
<!--test-->

<style>


</style>
<script>

</script>
<!--test-->

<div id="macarte"></div>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



.container {
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 30px;
}
.container .card {
  position: relative;
  max-width: 300px;
  height: 170px;
  background: #fff;
  margin: 30px 30px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
}
.container .card:hover {
  height: 420px;
}
.container .card .img-box {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
}

.container .card .img-box img {
  max-width: 100%;
  border-radius: 4px;
}

.container .card .content p {
  position: relative;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  
}
.container .card .content h2 {
  position: relative;
  text-align: center;
  top: -45px;
}
.container .card:hover .content p {
  visibility: visible;
  opacity: 1;
  
  margin-top: -100px;
  transition-delay: 0.1s;
}
</style>
<!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
<script>


var carte = L.map('macarte').setView([36.80278, 10.17972], 13);
L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
    attribution: 'données @ <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France </a>',
    
    maxZoom: 20,
   
    minZoom: 1,
    
}).addTo(carte);

{% for item in ecole %}
  // On crée le marqueur et on lui attribue une popup
  var marqueur = L.marker([{{ item.lat }},{{ item.lon }}]).addTo(carte); //.addTo(carte);
  marqueur.bindPopup("<h3>{{ item.nom }}</h3>");

  {% endfor %}
</script>

<div class="container">
{% for item in ecole %}

  <div class="card">
   
    <div class="img-box">
    
     <button><a href="{{path('cours')}}"><img src="/images/{{item.image}}" style="width:300px; height:150px;"   > </a></button> 
      <h2>{{item.nom}}</h2>
              
    </div>
    <div class="content">
     
      <p>{{item.description}}</p>
     
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}
