



{% block body %}

    <div class="containe">
     <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
      <div class="login">
        <h1 >Connexion</h1>
        <div class="username">
          <i class="fa fa-user"></i>
          <label for="inputEmail">Email</label>
          <input type="email"  class="input-1" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required ><br>
        </div>
        <div class="password">
          <i class="fa fa-lock"></i>
          <label for="inputPassword">Password</label>
           <input type="password" class="input-2"  name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
        </div>
        
         <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
       <button class="btn btn-lg btn-primary" type="submit">
        <a href="{{path('register')}}">inscription</a>
    </button>

      </div>
      </form>
    </div>

<!--style-->
<style>


body {
  height: 100vh;
  font-family: sans-serif;
  background-image: url("images/elearnig1.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(77,106,255);
}

.containe {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  padding: 4rem 8rem;
  background: #F2B3FF rgb(242,179,255);
  border-radius: 25px;
  opacity: 0.9;
  box-shadow: 0px 3px 22px 15px #A1B1FF;
}

.login h1 {
  font-size: 40px;
  margin-bottom: 2rem;
  padding: 5px 0;
  text-shadow: 1px 1px 2px rgb(153,102,255), 0 0 1em rgb(0, 255, 255),
    0 0 0.2em rgb(0, 255, 255);
    
}

.username,
.password {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 2px solid #00ffff;
}

.username input,
.password input {
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-size: 18px;
  width: 80%;
  margin: 0 10px;
}

.username input::placeholder,
.password input::placeholder {
  color: #fff;
}

.btn {
  width: 100%;
  background: none;
  border: 2px solid #00ffff;
  color: rgb(77,106,255);
  padding: 5px;
  font-size: 23px;
  cursor: pointer;
  margin: 12px 0;
}
.btn a{
  text-decoration: none;
}

@media (max-width: 425px) {
  .login {
    padding: 8rem 2rem;
  }
}
@media (max-width: 375px) {
  .login {
    padding: 8rem 1rem;
  }
}

@media (max-width: 320px) {
  .login {
    padding: 8rem 1rem;
    width: 70%;
  }
}


</style>

<script>

</script>
{% endblock %}
