
{% extends 'base.html.twig' %}

{% block title %} Home{% endblock %}

{% block body %}


  <h1> Qui sommes-nous  </h1> 


<div class="main">
<div id="uslugi" class="container">	
<ul class="nav nav-tabs">
		
			<li class="col-md-4 col-sm-6 col-xs-12"><a href="#2" data-toggle="tab">
        <div class="icons icon_pass"><img src="{{asset('images/c1.jpg')}}" style="width:150px; height:150px;"></div>
        <div class="icons icon_active"><img src="{{asset('images/c1.jpg')}}" style="width:150px; height:150px;"></div>
          <H3>+1500 cours</H3></a>
			</li>
			<li class="col-md-4 col-sm-6 col-xs-12"><a href="#3" data-toggle="tab">
        <div class="icons icon_pass"><img src="{{asset('images/c2.jpg')}}" style="width:150px; height:150px;"></div>
        <div class="icons icon_active"><img src="{{asset('images/c2.jpg')}}" style="width:150px; height:150px;"></div>
          <H3>+500 utilisateurs</H3></a>
			</li>
  <li class="col-md-4 col-sm-6 col-xs-12"><a href="#4" data-toggle="tab">
        <div class="icons icon_pass"><img src="{{asset('images/c3.jpg')}}" style="width:150px; height:150px;"></div>
        <div class="icons icon_active"><img src="{{asset('images/c3.jpg')}}" style="width:150px; height:150px;"></div>
          <H3>+200 exercices corrigés</H3></a>
			</li>
		</ul>

			<div class="tab-content ">
			  <div class="tab-pane active" id="1">
          <div class="container" style="padding: 25px;">
            <div class="col-md-7 col-sm-6 col-xs-12">
              <h3>Mieux nous connaitre…</h3>
              <p style="margin: 15px 0; max-width: 450px;">School@Home est une plateforme d’enseignement et  d’apprentissage en ligne destinée à tout le monde. Les cours sont tutorés par des agrégés, des profs d’enseignement et des experts à travers des vidéos et des visioconférences et restent accessibles en replay sans limite de temps.
              School@Home plateforme d’apprentissage et de education Tunisie  accompagne les élèves et fait leur suivi tout au long de leur parcours scolaire, Dès la première année primaire jusqu’aux sixième année primaire.

Nos professeurs hautement qualifiés vont vous fournir le soutien qu’il vous faut, Vous encourage et vous donne l’ambition et la motivation pour travailler davantage .</p>
              <a href="{{path('niveau_scolaire')}}" target="_self"><span class="text">commencer >></span><i class="fa-angle-right"></i></a>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12"><img style="width: 100%; " src="{{asset('images/elearn0.png')}}"></div>
          </div>
				</div>
				
				
      
			</div>
  </div>

</div>



<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


    <!--teatcher-->


  
    <h1>Nos meilleurs professeurs</h1>
  
  
    
    <div class="container">
    
  <div class="card">
    <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
    <div class="details">
      <h2>Jhon Veber</h2>
      <div class="social-media-list">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
  <div class="card">
    <img src="https://a.lmcdn.ru/img600x866/H/E/HE002EMDGYQ3_7643652_1_v1.jpg" alt="">
    <div class="details">
      <h2>Ivan Pirogkov</h2>
      <div class="social-media-list">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
       </div>
      </div>
     </div>
     <div class="card">
      <img src="https://uploads-ssl.webflow.com/5f3930c1bf11903bb0bd9e6d/5f39d5d317c81a29d5f8517f_mit-18-monaten-planungszeit-stefan-sahlmann-header.jpg" alt="">
      <div class="details">
        <h2>Alex Zamyatin</h2>
        <div class="social-media-list">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/e25b852c87.js" crossorigin="anonymous"></script>


{% endblock %}
