
<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        {% block title %}{% endblock %}
        
        {% block stylesheets %}
       
        
         <link rel="stylesheet" href="{{asset('css/style.css')}}">
         <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
         <link rel="stylesheet" href="{{asset('css/bootstrap.min.css.map')}}">
         <link rel="stylesheet" href="{{asset('css/bootstrap.css.map')}}">
         <script src="{{asset('jquery/jquery-3.5.1.slim.min.js')}}"></script>
        {% endblock %}

</head>
{% block body %}
<section class="form">
    <div class="container">
<div class="row">
       {% if notification %}

       <div class="alert alert-success">
        {{notification}}
       </div>
       {% endif %}
</div>
        <div class="row">
        <div class="col"> </div>
          <div class="col-6" >
            {{form_start(form)}}
            <div class="mb-3">
            {{form_label(form.image, 'Photo de profil',{'label_attr':{'class':'form-label'}})}}
            {{form_row(form.image,{'attr':{'class':'form-control'}})}}
        </div>
         <div class="mb-3">
            {{form_label(form.nom, 'Nom',{'label_attr':{'class':'form-label'}})}}
            {{form_row(form.nom,{'attr':{'class':'form-control'}})}}
        </div>
        <div class="mb-3">
            {{form_label(form.prenom,'Prenom',{'label_attr':{'class':'form-label'}})}}
            {{form_row(form.prenom,{'attr':{'class':'form-control'}})}}
        </div>
        
        <div class="mb-3">
            {{form_label(form.email,'Email',{'label_attr':{'class':'form-label'}})}}
            {{form_row(form.email,{'attr':{'class':'form-control'}})}}
        </div>
        <div class="mb-3">
            
            {{form_row(form.password)}}
        </div>
            {{form_end(form)}}
          </div>
          <div class="col"></div>
        </div>
        
    </div>
</section>




   <style>
   html {
    height: 100%;
    width: 100%;
}

body {
    background: url("images/bleu.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Droid Serif', serif;
}

   </style>
{% endblock %}
</html>