<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
       
        
         <link rel="stylesheet" href="{{asset('css/style.css')}}">
         <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
         <link rel="stylesheet" href="{{asset('css/bootstrap.min.css.map')}}">
         <link rel="stylesheet" href="{{asset('css/bootstrap.css.map')}}">
         <script src="{{asset('jquery/jquery-3.5.1.slim.min.js')}}"></script>
        {% endblock %}

        {% block javascripts %}
 
         
         <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
         <script src="{{ asset('js/index.js')}}"></script>
             
         <script src="{{asset('js/bootstrap.bundle.min.js')}}"></script>
         <script src="{{asset('js/popper-base.min.js.map')}}"></script>
         <script src="{{asset('js/popper.min.js')}}"></script>
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" >
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/markercluster.css">
         <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/markercluster.Default.css">
  
        {% endblock %}
    </head>
    <body>
    <nav class="navbar fixed-top">
      <a href="#" class="navbar-logo">
      <i class="material-icons"></i><img src="{{asset('images/logo edc.jpg')}}" alt="" style="width: 100px;"> </a>
      <ul class="navbar-links">
        <li class="navbar-dropdown">
          <a href="{{path('home')}}">Acceuil</a></li>
           <li class="navbar-dropdown">
          <a href="{{path('scool')}}">Écoles</a></li>
      <ul class="navbar-links">
        <li class="navbar-dropdown">
          <a href="{{path('matieres')}}">Matières</a>
          <div class="dropdown">
            <a href="{{path('matieres')}}">français</a>
            <a href="{{path('matieres')}}">anglais</a>
            <a href="{{path('matieres')}}">mathématiques</a>

          </div>
        </li>
        <li class="navbar-dropdown">
          <a href="{{path('cours')}}">Cours</a>
          <div class="dropdown">
            <a href="{{path('cours')}}">cours français</a>
            <a href="{{path('cours')}}">Cours anglais</a>
            <a href="{{path('cours')}}">Cours mathématique</a>

          </div>
        </li>
        <li class="navbar-dropdown">
          <a href="#">Enseignants</a>

        </li>
        <li class="navbar-dropdown">
          <a href="{{path('contact')}}">Contact</a>

        </li>
       
         {% if app.user %}

       <li class="nav-item ">
        <a class="nav-link" >{{ app.user.nom }} {{ app.user.prenom }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
      </li>


       {% else %}
        <li class="navbar-dropdown">
          <a href="{{path('register')}}">Inscription</a>

        </li>
          </li>
        <li class="navbar-dropdown">
          <a href="{{path('app_login')}}">Connexion</a>

        </li>
        {% endif %}
         <li><a href="{{path('panier')}}"><img src="{{asset('images/logopanier.png')}}" alt="" style="width:30px; height:30px;"  ></a></li>
      </ul>
    </nav>
   



   
<!--slider-->
   
    <div class="slideshow">

        <div class="slideshow-item">
            <img src="{{ asset('css/slide/im1.jpg') }}">
            <div class="slideshow-item-text">
                <h5>SCHOOL@HOME</h5>
                <p>Le secret de votre réussite</p>
            </div>
        </div>
        
        <div class="slideshow-item">
            <img src="{{ asset('css/slide/im2.jpg') }}">
            <div class="slideshow-item-text">
                <h5>SCHOOL@HOME</h5>
                <p>Le secret de votre réussite</p>
            </div>
        </div>
        <div class="slideshow-item">
            <img src="{{ asset('css/slide/im3.jpg') }}">
            <div class="slideshow-item-text">
                <h5>SCHOOL@HOME</h5>
                <p>Le secret de votre réussite</p>
            </div>
        </div>

    </div>




   
   
        {% block body %}{% endblock %}
        
         
         
 </body>
</html>



