<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
       
        
         <link rel="stylesheet" href="{{asset('css/style.css')}}">
         <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
         <link rel="stylesheet" href="{{asset('css/bootstrap.min.css.map')}}">
         <link rel="stylesheet" href="{{asset('css/bootstrap.css.map')}}">
         <script src="{{asset('jquery/jquery-3.5.1.slim.min.js')}}"></script>
        {% endblock %}

        {% block javascripts %}
 
         
         <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
         <script src="{{ asset('js/index.js')}}"></script>
             
         <script src="{{asset('js/bootstrap.bundle.min.js')}}"></script>
         <script src="{{asset('js/popper-base.min.js.map')}}"></script>
         <script src="{{asset('js/popper.min.js')}}"></script>
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" >
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/markercluster.css">
         <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/markercluster.Default.css">
  
        {% endblock %}
        <!DOCTYPE html>
<html lang="en">
<head>
  	<title>How To Create Responsive Navigation Bar With Dropdown Menus</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<!-- Start Header -->

<header class="fixed-top">
    <div class="wrapper ">
        <!-- Brand Image -->
        <a href="#" class="logo"><img src="{{asset('images/logo edc.jpg')}}" alt="" style="width: 150px; height:70px;"></a>
        <i class="toggle-btn fas fa-bars"></i>
        <!-- Navbar -->
        <nav class="nav-menus ">
            <li><a href="{{path('home')}}"><i class="fas fa-home"></i> Acceuil</a></li>
            <li><a href="{{path('scool')}}"><i class="fas fa-align-left"></i> Ecoles</a></li>
            <li class="sub-menus"><a href="{{path('cours')}}"><i class="fas fa-file"></i> cours</a>
               
            </li>
           
            <li><a href="{{path('contact')}}"><i class="fas fa-phone-alt"></i> Contact</a></li>
        {% if app.user %}

       <li class="nav-item ">
        <a class="nav-link" > <i class="fas fa-user"></i>{{ app.user.nom }} {{ app.user.prenom }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
      </li>


       {% else %}
        <li class="navbar-dropdown">
          <a href="{{path('register')}}"> <i class="fas fa-user"></i>Inscription</a>

        </li>
          </li>
        <li class="navbar-dropdown">
          <a href="{{path('app_login')}}">Connexion</a>

        </li>
        {% endif %}
         <li><a href="{{path('panier')}}"><img src="{{asset('images/logopanier.png')}}" alt="" style="width:30px; height:30px;"  ></a></li>
        </nav>
    </div>
</header>
<!-- End Header -->
</body>
</html>
<style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f5f5f5;
    font-family: arial;
}
header {
    background: #ffffff;
    width: 100%;
    float: left;
    box-shadow: 0px 0px 15px #777;
}
.wrapper {
    max-width: 1200px;
    
    
}


/*-- Navbar CSS --*/
.nav-menus {
    float: right;
    min-height: 30px;
    
    display: flex;
    align-items: center;
}
.nav-menus li {
    list-style: none;
    position: relative;
    padding: 10px 10px;
}
.nav-menus a {
    color: black;
    position: relative;
    font-size: 17px;
    text-decoration: none;
    padding: 15px 15px;
    z-index: 1;
}
.nav-menus li:hover {
    color: #c79826;
}
.nav-menus a:after {
    content: "";
    width: 100%;
    height: 0px;
    background-color: #6f8eeb;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 4px;
    transition: 0.5s;
    z-index: -1;
}
.nav-menus li:hover > a:after{
    height: 100%;
}
.nav-menus i{
    margin-right: 8px;
    font-size: 16px;
}
.toggle-btn{
    float: right;
    height: 90px;
    line-height: 90px;
    color:#6f8eeb ;
    font-size: 26px;
    display: none;
    cursor: pointer;
}
.nav-menus.active{
    display: block;
}

/*-- Responsive Menus Bar CSS--*/
@media (max-width:950px) {
.toggle-btn{
    display: block;
}
.nav-menus {
    position: absolute;
    width: 100%;
    background: white;
    top: 100px;
    right: 0;
    display: none;
    padding: 0px 15px;
    box-sizing: border-box;
}
.nav-menus::before{
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #4e2890;
    position: absolute;
    top: -10px;
    right: 10px;
}
.sub-menus ul {
    position: static;
}
.sub-menus ul::before {
    display: none;
}
.nav-menus li {
    padding: 0px;
}
.nav-menus li a {
    display: block;
    margin: 15px 0px;
}
}
</style>
  <!-- Toggle jQuery for Small Devices -->
<script type="text/javascript">
    $(".toggle-btn").click(function(){
        $(this).toggleClass("fa-times");
        $(".nav-menus").toggleClass("active");
    });
</script>

   

<!--slider-->
   
    <div class="slideshow">

        <div class="slideshow-item">
            <img src="{{ asset('css/slide/im1.jpg') }}">
            <div class="slideshow-item-text">
                <h5>SCHOOL@HOME</h5>
                <p>Le secret de votre réussite</p>
            </div>
        </div>
        
        <div class="slideshow-item">
            <img src="{{ asset('images/cour.jpg') }}">
            <div class="slideshow-item-text">
                <h5>SCHOOL@HOME</h5>
                <p>Le secret de votre réussite</p>
            </div>
        </div>
        <div class="slideshow-item">
            <img src="{{ asset('css/slide/im3.jpg') }}">
            <div class="slideshow-item-text">
                <h5>SCHOOL@HOME</h5>
                <p>Le secret de votre réussite</p>
            </div>
        </div>

    </div>

{% block body %}{% endblock %}
        
         
         
 </body>
</html>
<!--footer-->
<footer class="footer-section">
        <div class="contain">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-6 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>trouver nous</h4>
                                <span>1010 Avenue,</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>Appelez nous</h4>
                                <span>9876543</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>notre mail</h4>
                                <span>school@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="{{asset('images/logo edc.jpg')}}" class="img-fluid" alt="logo" style="width: 150px; height:70px;"></a>
                            </div>
                            <div class="footer-text">
                                <p>School@home est une plateforme d’enseignement et d’apprentissage en ligne destinée à tout le monde. </p>
                            </div>
                            <div class="footer-social-icon">
                                <span>suivez nous</span>
                                <a href="https://www.facebook.com/droussii/"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Liens utiles</h3>
                            </div>
                            <ul>
                                <li><a href="{{path('home')}}">Acceuil</a></li>
                                <li><a href="{{path('scool')}}">Ecoles</a></li>
                                <li><a href="{{path('cours')}}">Cours</a></li>
                                <li><a href="{{path('contact')}}">Contact</a></li>
                                <li><a href="{{path('register')}}">Inscription</a></li>
                               
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>s'abonner</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Ne manquez pas de vous abonner à nos nouveaux flux, en remplissant le formulaire ci-dessous.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Email Address">
                                    <button><i class="fab fa-telegram-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </footer>
        <style>
        .contain{
            margin-left:30px;
            margin-right:40px;
        }
          ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #04182e;
  position: relative;
  
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #f5ba0a;
  font-size: 20px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #f5ba0a;
}
.twitter-bg{
  background: #f5ba0a;
}
.google-bg{
  background: #f5ba0a;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ffc814;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #e6a009;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: black;
  font-size: 12px;
  transform: rotate(-6deg);
}

        </style>
<!---->
    


