{{ form_start(form, {attr: {class: 'filter js-filter-form'}}) }}

 {{ form_row(form.q) }}

  <h4>niveauscolaire</h4>
 
  {{ form_row(form.niveauscolaire) }}
   <h4>ecoles</h4>
 
  {{ form_row(form.ecole) }}

  <h4>Prix</h4>
  <div class="row">
    <div class="col-md-" style="margin-left:15px;">
      {{ form_row(form.min) }}<br>
    </div>
    <div class="col-md-6">
      {{ form_row(form.max) }}
    </div>
  </div><br>
  

  
  <button type="submit" class="btn btn-warning w-50">choisir</button>

{{ form_end(form) }}