{% extends 'base.html.twig' %}

{% block title %}Show{% endblock %}
{% block body %}
<style>
.h{
  margin-top: 30px;
  color: blue;
}
.card {
  box-shadow: 0 6px 12px rgba(0,0,0,0.5);
  height: 520px;
}

.btn-warning
 {
   box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
  margin-left: 10px;
  margin-bottom: .5rem;
}

</style>

<div class="container mt-5">


  <div class="row">
    <div class="col-sm-4 col-md-4">
        	<div class="card">
            <div class="card-header">
        		  <h2 class="text-warning">{{cour.nom}}{{cour.matiere}}</h2>
            </div>
            <div class="card-body">
              <h3 class="label label-info">{{cour.niveauscolaire}}</h3>
              <ul>
                <li><i class="fas fa-check"></i>50 utilisateurs </li>
                <li><i class="fas fa-check"></i> Apprendre les bases</li>
                <li><i class="fas fa-check"></i> Apprendre rapidement</li>              
                <li><i class="fas fa-check"></i> Apprendre facilement</li>
              </ul>          
              <p>{{cour.description}}</p>
              <hr>
              <h4>{{cour.prix}} / month</h4>
              <hr>
              <p><a class="btn btn-warning btn-lg" href="#"><i class="icon-ok"></i>detail</a></p>
            </div>
        	</div>
     </div>
		
	</div>
  
</div>



{% endblock %}